/* 验证码登录 */
.content{
    padding-top: 5rem;
    background: #fff;
    height: 100vh;
}

.content .tab-title,
.content-h .tab-title{
    display: flex;
    margin: 0 auto;
    width: 199px;
    font-size: .9rem;
}
.content .tab-title .login-line,
.content-h .tab-title .login-line{
    margin:0 auto;
}
.color-dark{
    color: #7f7f7f;
}

.content .input-Group{
    margin-top: 2rem;
    text-align: center;
}
.content .input-Group .login-input{
    width: 70%;
    text-align: left;
}

.content .login-button,
.content-h .login-button{
    margin-top: 3rem;
    width: 88%;
    height: 2.8rem;
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.content .register-button,
.content-h .register-button{
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}


/* 账号登录 */
.content-h{
    padding-top: 2rem;
    background: #fff;
    height: 100vh;
}
.content-h .userlogin{
    margin: 2rem 1.5rem 0;
}
.content-h .userlogin .userlogin-input{
    margin-bottom: 1rem;
}
.content-h .login-tip{
    display: flex;
    justify-content: space-between;
}
.content-h .login-tip button{
    padding: 0;
    height: auto;

}